<!DOCTYPE html>
<html data-cast-api-enabled="true" ng-app="stRemote">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STATIONS</title>
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/core.css" rel="stylesheet">
</head>
<body>

    <div ng-controller="Header">
        <div class="navbar navbar-static-top" role="navigation">
            <div class="container-full">
                <ul class="nav navbar-nav" ng-show="isMobile && !showPlaylists">
                    <li>
                        <a href="#" ng-click="back()">
                            <span class="back-button glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                </ul>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">STATIONS</a>
                </div>
                <ul class="nav navbar-nav navbar-right" ng-show="canCast">
                    <li>
                        <a href="#" class="dropdown-toggle cast-image" data-toggle="dropdown">
                            <img src="icons/drawable-mdpi/ic_media_route_off_holo_light.png"/>
                        </a>
                        <ul class="dropdown-menu" id="receivers">
                        </ul>
                    </li>
                </ul>
            </div><!-- container-full -->
        </div><!-- navbar -->
    </div>

    <div class="container-full">
        <div class="left" ng-controller="LeftPanel" ng-hide="isMobile && !showPlaylists">
            <div ng-controller="Playlists">
                <p class="list-header">STATIONS</p>
                <ul id="playlists" class="list-unstyled">
                    <li 
                        ng-repeat="playlist in playlists" 
                        ng-controller="PlaylistsItem" 
                        ng-click="startPlaylist($index)"
                        playlist-item>
                        <h4>{{playlist.name}}</h4>
                        <p>{{playlist.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right" ng-controller="RightPanel" ng-hide="isMobile && showPlaylists">
            <div class="no-playlist-selected" ng-hide="playlistSelected">
                <p>Please select a station to get started!</p>
            </div>
            <div ng-controller="Player" ng-show="playlistSelected">
                <div id="yt_player_container">
                    <div id="yt_player" yt-player>
                    </div>
                </div>
            </div>
            
            <div class="playlist-content-toggle btn-group" ng-show="playlistSelected">
                <button type="button" class="btn btn-default" 
                    ng-click="changePlaylistContent('details')" 
                    ng-class="{'btn-primary': showDetails}">
                    Media Details</button>
                <button type="button" class="btn btn-default" 
                    ng-click="changePlaylistContent('playlist')" 
                    ng-class="{'btn-primary': showPlaylist}">
                    Playlist</button>
            </div> 

            <div 
                ng-controller="MediaDetail" 
                ng-show="playlistSelected && $parent.showDetails">
               <div class="content-container">
                    <div ng-show="media">
                        <h4>{{media.title}}</h4>
                        <p>{{media.description}}</p>
                    </div>
                </div>
            </div> <!-- MediaDetail -->
            <div 
                ng-controller="Playlist" 
                ng-show="playlistSelected && $parent.showPlaylist">
               <div class="content-container">
                   <p></p>
                </div>
            </div> <!-- Playlist -->
        </div>
    </div><!-- container-full -->
    
    <div ng-controller="PlayerControls" ng-hide="(isMobile && showPlaylists) || !isStarted">
        <div class="navbar navbar-fixed-bottom" role="navigation">
            <div class="container-full">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav media-controls">
                        <li><a href="#" ng-click="performPlayerAction('previous')"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                        <li><a href="#" ng-click="performPlayerAction('play')" ng-show="!isPlaying"><span class="glyphicon glyphicon-play"></span></a></li>
                        <li><a href="#" ng-click="performPlayerAction('pause')" ng-show="isPlaying"><span class="glyphicon glyphicon-pause"></span></a></li>
                        <li><a href="#" ng-click="performPlayerAction('next')"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="stop_casting" ng-show="canCast && isCasting">Stop Casting</a></li>
                    </ul>
                </div>
            </div><!-- container-full -->
        </div><!-- navbar -->
    </div>
    
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/jquery-2.0.3.min.js"></script>
    <script src="javascripts/angular.min.js"></script> 
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/remote.js"></script>

</body>
</html>
